* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    /* overflow: hidden; */
}

main {
   position: relative;
   font-family: 'Poppins', sans-serif;
   width: 100%;
   min-height: 100%;
   margin: 0;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1100;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li {
    margin: 0px 10px;
}

li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none !important;
    font-size: 16px;
    text-transform:uppercase;
}

li a:hover {
    color: white !important;
}

li a.active {
    color: #dbb95a !important;
}

.topnav {
    overflow: hidden;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    position: relative;
}

.border {
    border-right: 2px solid #dbb95a;
    padding-right: 3px;
    height: 25px;
}

.home_background {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('.././img/bg.png') no-repeat 50%;
    background-size: cover;
    height: 100vh;
}

.container {
    width: 1140px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    padding: 25px;
    background-color: #fff;
    /* height: 500px; */
    width: 500px;
}

input {
    border: none;
    border-bottom: 1px solid #000 !important;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #000 !important;
}

.column {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #000;
    color: #fff;
    padding: 15px 50px;
    border: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.button_margin {
    display: flex;
    justify-content: flex-end;
}

select {
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    
}

select:focus {
    outline: none;
}

select:hover {
    border-color: gray;
}

.margin {
    margin: 10px 0px;
}

h4 {
    margin-bottom: 10px;
}

label {
    color: #909090;
    font-weight: 500;
    text-transform: uppercase;

    font-size: .75rem;
    line-height: .75rem;
    letter-spacing: 2px;
}

.text {
    margin-right: 30px;
}

h5 {
    color: #dbb95a;
    font-size: 14px;
}

h1 {
    font-weight: 900 !important;
    font-size: 38px;
    line-height: 40px;
    margin: 10px 0px 15px 0px;
    color: #fff;
}

h3 {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}