* {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #000 !important;
}

.navbar-nav,
.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: flex-end;
}

.nav-margin {
  margin-right: 50px;
}

.img-nav {
  margin-left: 50px;
}

.orange-sign {
  color: #dbb95a !important;
  font-weight: 500;
}

.nav-item a {
  color: #fff !important;
}

li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}

li a:hover {
  color: white !important;
}

li a.active {
  color: #dbb95a !important;
}

.orange-border {
  border-right: 2px solid #dbb95a !important;
  height: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

.home-background {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(".././img/bg.png");
  background-size: 100% 100%;
  height: 100vh;
}

form {
  padding: 25px;
  background-color: #fff;
}

.listitems {
  padding: 25px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: auto;
  max-height: 400px;
}

.form-control {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 5px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #000;
  border-bottom: 2px solid black;
}

.btn {
  background-color: black;
  border-color: black;
  border-radius: 0;
  padding: 10px 30px;
}

.btn-primary:hover {
  background-color: #000;
  border-color: #000;
}

.form-select {
  width: auto;
  border: 1px solid black;
  border-radius: 0;
  padding: 0.575rem 2.25rem 0.575rem 1rem;
}

.form-select:focus {
  border-color: black;
  box-shadow: none;
}

.line {
  width: auto;
  border-bottom: 1px solid black;
}

select > option:hover,
select > option:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #7c7b7b;
}

label {
  color: #909090;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.75rem;
  letter-spacing: 2px;
}

@media (max-width: 991px) {
  .responsive-top {
    margin-top: 83.82px;
  }

  .listitems {
    margin-top: 30px;
  }

  .home-background {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(".././img/bg.png");
    background-size: 100% 100%;
    height: 100%;
  }

  .orange-border {
    display: none !important;
  }
}

@media (max-width: 500px) {
  h4 {
    font-size: 15px;
  }

  label,
  input,
  .form-select,
  .btn,
  .form-control {
    font-size: 11px;
  }
}
